.lead__subtitle{
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  max-width: 640px;
  margin: 1rem 0 4rem;
}

@media screen and (max-width: 1124){
  .lead__subtitle{
    margin-top: 1rem;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 984){
  .lead__subtitle{
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 568px){
  .lead__subtitle{
    max-width: 288px;
    margin-top: 0.5rem;
    margin-bottom: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 16px;
    line-height: 20px;
  }
}