.footer{
  padding: 0 48px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 984px){
  .footer{
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 568px){
  .footer{
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
  }
}